

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--filter-bg-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--filter-shadow);
    font-family: Arial, sans-serif;
    z-index: 1000;
    color: var(--filter-text-color);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.filter label {
    align-self: center;
    margin-right: 10px;
    font-weight: bold;
    color: var(--filter-text-color); 
}

.filter input[type="text"] {
    align-self: center;
    padding: 6px;
    border: 1px solid var(--filter-border-color);
    border-radius: 4px;
    width: 120px;
    font-size: 14px;
    color: var(--filter-text-color);
    background-color: var(--filter-bg-color); 
    transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}

.filter input[type="text"]:focus {
    border-color: var(--filter-input-focus-border-color);
    outline: none;
}

.filter input[type="text"]::placeholder {
    color: var(--filter-placeholder-color); 
}

.filter button {
    padding: 8px 16px;
    background-color: var(--filter-button-bg-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.filter button:hover {
    background-color: var(--filter-button-hover-bg-color);
}

.filter input[type="text"]#dia,
.filter input[type="text"]#mes,
.filter input[type="text"]#anno {
    width: 60px;
    margin-right: 0;
    font-weight: bold;
}

.filter input#texto,
.filter input#usuario {
    margin-right: 10px;

}

.filter form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
